@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #poc {
        color: white;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 3vh;
        margin: 0 0 auto 0;
        padding: 10vh 0 0 0;
    }

    #pre {
        color: white;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 3vh;
        margin: auto 0 0 0;
        padding: 0 0 10vh 0;
    }

    .about-container {
        height: auto;
        width: 63vw;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .about-text {
        height: auto;
        width: auto;
        font-size: 1.5vh;
        font-family: 'Montserrat', sans-serif;
        padding: 0 2vh 0 2vh;
    }

    .about-text h1 {
        font-size: 2vh;
    }

    .image-question {
        height: 10vh;
        width: 10vh;
    }

    .image-gpu {
        height: 13vh;
        width: 13vh;
    }

    .help-popup {
        display: block;
        height: auto;
        width: 40vw;
        position: absolute;
        background-color: rgba(69, 69, 69, .5);
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 1vh;
        text-align: center;
        border-radius: 4px;
        align-self: flex-start;
        z-index: 9999;
        padding: .5vh;
        margin: calc(35px + 1vh) 0 0 .5vh;
    }

    #help-ok {
        background-color: transparent;
        border: none;
        text-decoration: underline;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 1vw;
        padding: .5vh .5vh 0 .5vh;
    }

    .nav-div {
        display: flex;
        position: fixed;
        color: white;
        background-color: transparent;
        height: 100vh;
        width: 8vw;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-content: center;
        border-right: 1px solid #D5D5D5;
        transition: border-color 1s ease-out;
        font-family: 'Bebas Neue', sans-serif;
    }
    .nav-div ul {
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        list-style: none;
        transform: rotate(-90deg);
    }
    .nav-div ul li {
        display: inline;
        padding: 0 2.5vh;
        font-size: 1.5vh;
    }
    .nav-div ul li a {
        text-decoration: none;
        color: white;
        transition: color 1s ease-out;
    }
    .nav-div p {
        transform: rotate(-90deg);
        font-size: 1.5vh;
        padding: 0 10.5vh 0 0;
        transition: color 1s ease-out;
    }

    .intro {
        height: 100vh;
        width: auto;
        background-color: black;
        font-family: 'Bebas Neue', sans-serif;
        overflow-x: clip;
    }

    #intro-one {
        height: 100vh;
        width: auto;
        background-color: black;
        font-family: 'Bebas Neue', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
    }

    #intro-one p {
        color: white;
        font-size: 15vh;
    }

    #intro-one a {
        color: white;
        font-size: 2vh;
        text-decoration: none;
    }

    .two {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        font-size: 8vh;
        color: white;
    }

    .three {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        font-size: 8vh;
        color: white;
    }

    .four {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        font-size: 8vh;
        color: white;
    }

    .page-one {
        height: 100vh;
        width: auto;
        background-color: #D5D5D5;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: column nowrap;
    }

    #page-two {
        height: 100vh;
        width: auto;
        background-color: black;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    #viewer {
        display: flex;
        height: 64vh;
        width: 52vw;
        background-color: #B7B7B7;
        border-radius: 10px;
        position: absolute;
    }

    #gfx-main {
        height: 64vh;
        width: 52vw;
        background-color: #B7B7B7;
        border-radius: 10px;
        position: absolute;
    }

    .viewer-buttons {
        background-color: transparent;
        margin: .5vh 0 0 .5vh;
        width: 35px;
        height: 35px;
        border-radius: 4px;
        border: none;
        z-index: 9999;
    }

    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .viewer-buttons:hover {
        transition: background-color;
        transition-duration: 0.3s;
        background-color: rgba(69, 69, 69, .5);
    }

    #fullscreen {
        background-color: transparent;
        width: 35px;
        height: 35px;
        border-radius: 4px;
        border: none;
        align-self: flex-end;
        margin-bottom: .5vh;
        margin-right: .5vh;
        margin-left: auto;
        z-index: 9999;
    }

    #fullscreen:hover {
        transition: background-color;
        transition-duration: 0.3s;
        background-color: rgba(69, 69, 69, .5);
    }

    .full {
        height: 30px;
        width: 30px;
    }

    footer {
        height: auto;
        width: auto;
        background-color: black;
        text-align: center;
    }

    footer p {
        color: white;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 3vh;
        padding: 1vh .5vh 0 .5vh;
    }

    footer a {
        background-color: transparent;
        border: none;
        padding: .5vh;
        display: inline-flex;
    }

    #credential {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.5vh;
        padding: .5vh;
    }
}