.grid {
    display: grid;
    height: calc(100vh - 20px);
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100%;
 }
 .grid1 {
    display: grid;
    height: 35px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 35px;
 }
 .item1 {
    grid-column: 1/3;
 }
 .item2 {
    grid-column: 3/9;
 }
 .item3 {
    grid-column: 1/4;
 }
 .item4 {
    grid-column: 4/8;
 }

 select, input[type="text"]{
    width:100%;
    height:22px;
    box-sizing:border-box;
 }